
@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap');

body {
    font-family: "Trirong", serif;
  }
/* Media Query Desktop  */
  @media screen and (min-width: 480px) { 
    body {
      background-color: #3d3b8e;
      color: #FFF
    }
    h1,h2 {
        font-size: 20px;
     }
    p{
       font-size: 14px;
    }
  }

  .flexbox-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

   /* .main{
       display: grid;
       grid-template-columns: 2fr 1fr 1fr;
       grid-auto-rows: minmax(100px, auto);

       grid-column-gap: 70px;
       grid-row: 70px;

   } */

    .paragraph-grid {
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 20px;
    }
    .quote-grid{
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 20px;

    }

    .images-grid{
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    }
     /* Media Query Desktop */
    @media (max-width: 1024px) { 

        body {
            background-color: #B0e298;
            color: #000
          }
          h1,h2 {
              font-size: 50px;
           }
          p{
             font-size: 26px;
          }
        }





